.center {
  margin-top: 100px;
  display: flex;
  justify-content: center;
  /* list */ }
  .center .todo-Container {
    position: fixed;
    color: black;
    padding: 20px;
    width: 50vw;
    min-width: 300px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #9578fd;
    /* heading */
    /* todo task add */
    /* add button */ }
    .center .todo-Container .heading {
      font-size: 2rem;
      font-weight: 900;
      margin-bottom: 20px;
      letter-spacing: 3px;
      margin-top: 10px;
      color: white;
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; }
    .center .todo-Container .head {
      width: 100%;
      max-width: 600px;
      /* task written area */ }
      .center .todo-Container .head ::placeholder {
        color: aliceblue;
        font-size: 15px; }
      .center .todo-Container .head .description {
        display: flex;
        justify-content: center;
        flex-direction: column; }
      .center .todo-Container .head #description {
        padding: 8px;
        text-align: center;
        border-radius: 2rem;
        border: 2px solid black;
        background-color: rgba(0, 110, 255, 0.196);
        color: white; }
      .center .todo-Container .head #description:hover {
        border: 2px solid #fffb00; }
    .center .todo-Container .add-btn {
      display: flex;
      justify-content: center;
      margin-top: 30px; }
      .center .todo-Container .add-btn .btn {
        color: white;
        text-decoration: none;
        cursor: pointer;
        outline: none;
        border: none;
        background: rgba(0, 60, 255, 0.07);
        border-radius: 2rem; }
        .center .todo-Container .add-btn .btn .box {
          width: 140px;
          height: auto;
          float: left;
          transition: .5s linear;
          position: relative;
          display: block;
          overflow: hidden;
          padding: 15px;
          text-align: center;
          margin: 0 5px;
          background: transparent;
          text-transform: uppercase;
          font-weight: 900;
          border-radius: 2rem; }
        .center .todo-Container .add-btn .btn .box:before {
          position: absolute;
          content: '';
          left: 0;
          bottom: 0;
          height: 4px;
          width: 100%;
          border-bottom: 4px solid transparent;
          border-left: 4px solid transparent;
          box-sizing: border-box;
          transform: translateX(100%);
          border-radius: 2rem; }
        .center .todo-Container .add-btn .btn .box:after {
          position: absolute;
          content: '';
          top: 0;
          left: 0;
          width: 100%;
          height: 4px;
          border-top: 4px solid transparent;
          border-right: 4px solid transparent;
          box-sizing: border-box;
          transform: translateX(-100%);
          border-radius: 2rem; }
        .center .todo-Container .add-btn .btn .box:hover {
          box-shadow: 0 5px 15px #003cff;
          border-radius: 2rem; }
        .center .todo-Container .add-btn .btn .box:hover:before {
          border-color: #03016b60;
          height: 100%;
          transform: translateX(0);
          transition: .2s transform linear, .2s height linear .2s;
          border-radius: 2rem; }
        .center .todo-Container .add-btn .btn .box:hover:after {
          border-color: #03016b51;
          height: 100%;
          transform: translateX(0);
          transition: .2s transform linear, .2s height linear .2s;
          border-radius: 2rem; }
  .center .habit-list {
    margin-top: 240px;
    display: flex;
    align-items: center;
    width: 50vw;
    min-width: 300px;
    flex-direction: column; }
    .center .habit-list .habit-list-item {
      border: none;
      padding: 10px;
      width: 100%;
      font-size: 20px;
      margin-top: 10px;
      margin-bottom: 10px;
      border-radius: 20px;
      background-color: rgba(0, 0, 0, 0.271);
      display: flex;
      border: 2px solid rgba(255, 0, 0, 0.315); }
      .center .habit-list .habit-list-item .habit {
        flex: 2;
        color: white; }
      .center .habit-list .habit-list-item .habit:hover {
        color: #ff4800; }
      .center .habit-list .habit-list-item .fa-minus-circle {
        color: yellow; }
      .center .habit-list .habit-list-item .fa-check-circle {
        color: #09ff00; }
      .center .habit-list .habit-list-item .fa-stop-circle {
        color: red; }
      .center .habit-list .habit-list-item .status {
        border: 2px solid red;
        background-color: #59ff00;
        border-top-left-radius: 2rem;
        border-bottom-left-radius: 2rem;
        text-align: center;
        outline: none; }
      .center .habit-list .habit-list-item .status-btn {
        margin-right: 15px;
        border-top-right-radius: 2rem;
        border-bottom-right-radius: 2rem;
        border: 2px solid red; }
      .center .habit-list .habit-list-item .remove {
        margin: 2px 10px; }
        .center .habit-list .habit-list-item .remove .fa-times-circle {
          color: red !important;
          font-size: 25px; }
      .center .habit-list .habit-list-item a .shadow__btn {
        padding: 6px 10px;
        border: none;
        font-size: 10px;
        color: #fff;
        border-radius: 10px;
        letter-spacing: 2px;
        font-weight: 500;
        text-transform: uppercase;
        transition: 0.5s;
        transition-property: box-shadow; }
      .center .habit-list .habit-list-item a .shadow__btn {
        background: #ffea00;
        color: black !important;
        box-shadow: 0 0 25px #008cff; }
      .center .habit-list .habit-list-item a .shadow__btn:hover {
        box-shadow: 0 0 5px #008cff, 0 0 25px #008cff, 0 0 50px #008cff, 0 0 100px #008cff; }
    .center .habit-list .habit-list-item:hover {
      border: 2px solid red;
      background-color: rgba(0, 0, 0, 0.604); }
