<link rel="stylesheet" href="/css/details.css" type="text/css">

<section class="details">
  <a href="/user/home" class="back"><button><i class="fa fa-arrow-left"> Back</i></button></a>
  <div class="detail-Status">
    <h2><%= all_habits %></h2>
   
  </div>
</section>