<link rel="stylesheet" href="/css/landing.css" type="text/css">

<section class="landing-Page">
    <div class="landing-container">
        <p>Habit Tracker</p>
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTOKIbmvbw0SLYT_zSbbOa72f97j5M1o3EDzVbOEaoyjVR8-zQ&s" alt="" /> 
        <a href="/user/SignUp" class="land-btn"><button>Register</button></a>
        <a href="/user/signIn" class="land-btn"><button>Sign-In</button></a> 
        <a href="/user/oauth/google" class="land-btn">
            <button class="auth">
                <img src="https://cdn-icons-png.flaticon.com/128/720/720255.png" alt="google"/>
                Login with Google
            </button>
        </a>
        <a href="/user/auth/github" class="land-btn">
            <button class="auth">
                <img src="https://cdn-icons-png.flaticon.com/128/2111/2111432.png" alt="github">
                Login with GitHub
            </button>
        </a>
    </div>
</section>