.sign-in{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    .container {
        background: rgb(255, 242, 242);
        width: 30vw;
        min-width: 240px;
        padding: 30px;
        border-radius: 2rem;
        box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
        margin: auto;
        .text {
            font-size: 30px;
            font-weight: 600;
            text-align: center;
        }
        form {
            margin-top: -20px;
            .data {
                height: 45px;
                width: 100%;
                margin: 40px 0;
                label {
                    font-size: 18px;
                }
                input {
                    height: 100%;
                    width: 100%;
                    padding-left: 10px;
                    font-size: 17px;
                    border: 1px solid silver;
                }
                input:focus {
                    border-color: #3498db;
                    border-bottom-width: 2px;
                }
            }
            .btn {
                margin: 30px 0;
                height: 45px;
                width: 100%;
                button {
                    width: 100%;
                    outline: none;
                    cursor: pointer;
                    border: none;
                    padding: 0.9rem 2rem;
                    margin: 0;
                    font-family: inherit;
                    font-size: inherit;
                    position: relative;
                    display: inline-block;
                    letter-spacing: 0.05rem;
                    font-weight: 700;
                    font-size: 17px;
                    border-radius: 500px;
                    overflow: hidden;
                    background: #2869ff;
                    color: ghostwhite;
                   }
                   
                   button span {
                    position: relative;
                    z-index: 10;
                    transition: color 0.4s;
                    color: white;
                   }
                   
                   button:hover span {
                    color: white;
                   }
                   
                   button::before,
                   button::after {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    z-index: 0;
                   }
                   
                   button::before {
                    content: "";
                    background: #000;
                    width: 120%;
                    left: -10%;
                    transform: skew(30deg);
                    transition: transform 0.4s cubic-bezier(0.3, 1, 0.8, 1);
                   }
                   
                   button:hover::before {
                    transform: translate3d(100%, 0, 0);
                   }
            }
            .btn:hover{
                .inner {
                    left: 0;
                }
            } 
            .signup-link {
                text-align: center;
                a {
                    color: #3498db;
                    text-decoration: none;
                }
                a:hover {
                    text-decoration: underline;
                }
            }
        }
}
}
